
.card {
  border-radius: 0.35rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.badge {
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-secondary {
  background-color: #858796;
  color: #fff;
}

.badge-warning {
  background-color: #f6c23e;
  color: #fff;
}

.badge-primary {
  background-color: #4e73df;
  color: #fff;
}

.badge-success {
  background-color: #1cc88a;
  color: #fff;
}

.badge-danger {
  background-color: #e74a3b;
  color: #fff;
}

.badge-info {
  background-color: #36b9cc;
  color: #fff;
}

.dropdown-menu {
  min-width: 7rem;
}

.page-item.active .page-link {
  background-color: #4e73df;
  border-color: #4e73df;
}

.page-link {
  color: #4e73df;
  cursor: pointer;
}

.modal-content {
  border: none;
  border-radius: 0.35rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.table th {
  border-top: none;
}