<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>About Us</h3>
      <p>We provide the best e-commerce solutions for your needs.</p>
    </div>
    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Follow Us</h3>
      <div class="d-flex justify-content-center align-items-center gap-4 mt-5">
        <i class="fab fa-facebook"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-instagram"></i>
<i class="fab fa-tiktok"></i>

      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="fs-5">&copy; <span class="text-info fw-bold">Morine</span> | All Rights Reserved</p>
  </div>
</footer>
